.DS_Store

microsalt/__pycache__
microsalt.log
instance/sqlalchemy_config.py
instance/paths.yml
unique_references/*.n*
.pytest_cache/
*.egg-info
*pyc
*.swp
.coverage*
.idea/
default_sample_info.json
tmp.json
.venv/
.vscode*
