language: python
python:
    - '3.6'
    
sudo: required
cache: pip

#before_install:
# - sudo apt-get install -y coreutils ucommon-utils
#addons:
#  apt:
#    update: true

install:
## Install anaconda
  - export LANG=en_US.iso885915
  - wget https://repo.anaconda.com/archive/Anaconda3-2019.03-Linux-x86_64.sh -O conda.sh;
  - bash conda.sh -b -p $HOME/anaconda
  - export PATH="$HOME/anaconda/bin:$PATH"
  - conda config --add channels defaults
  - conda config --add channels bioconda
  - conda config --add channels conda-forge
  - conda info
  - echo $LANG
  
## Install microSALT
  - mkdir ~/.microSALT && cp configExample.json ~/.microSALT/config.json
  - yes | bash <(curl https://raw.githubusercontent.com/Clinical-Genomics/microSALT/$TRAVIS_BRANCH/install.sh) 
  - source activate S_microSALT

script:
## Actual checks
    - pip check
    - pytest --cov=microSALT tests/
    #- git log -n 10|gitlint

after_success: coveralls
