{% extends 'layout.html' %}
  {% block body %}
    {% set thres = dict() %}
      <div class="container-fluid">
        <div class="col-lg-16">
          <!-- Summary pages  -->
          <footer>
            <div class="panel"><div class="panel-body">
              <a href="https://github.com/Clinical-Genomics/microSALT"><img src="https://github.com/Clinical-Genomics/microSALT/blob/master/artwork/microsalt.jpg?raw=true" alt="MicroSALT Logo" align="left" style="position:absolute;left:15px;width:400px;height:100px;display:flex;"></a>
              <!--<img src="swedac.jpg" alt="Swedac Logo" align="right" style="display:flex;">-->
              <h2 class="page-header">
                <small><br><br>Clinical Microbiology</small>
              <small><p align="right">{{date}}</p></small></h2>

              <h3><strong>Project Summary</strong><br></h3>
              <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <td><b>Project ID <i>(CG Project ID)</i></b>
                    <td>{{samples[0].projects.Customer_ID_project}} <i>({{samples[0].projects.CG_ID_project}})</i></td>
                  </tr>
                  <tr>
                    <td><b>Analysis date</b></td>
                    <td>{{samples[0].date_analysis.date()}}</td>
                  </tr>
                </table>
              </div>

              <h3><strong>Sample Summary</strong><br></h3>
              <div class="table-responsive">
                <table  class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <th>Sample ID</th>
                    <th>CG Sample ID</th>
                    <th>Reference Genome</th>
                    <th>Organism</th>
                    <th>Total Reads</th>
                    <th>Mapping rate</th>
                    <th>Duplication Rate</th>
                    <th>Median Insert Size</th>
                    <th>Average coverage</th>
                    <th>%BP > 10x Coverage</th>
                    <th>%BP > 30x Coverage</th>
                    <th>%BP > 50x Coverage</th>
                    <th>%BP > 100x Coverage</th>

                  </tr>
                  {% for sample in samples %}
                    <tr>
                      <td>{{ sample.Customer_ID_sample }}</td>
                      <td>{{ sample.CG_ID_sample }}</td>
                      <td>{{ sample.reference_genome }}</td>
                      {% if sample.organism is not none %}
                        <td>{{sample.organism.replace('_', ' ').capitalize()}}</td>
                      {% else %}<td>Undetermined</td>{% endif %}
                      <td class="text-right">
                        {% if sample.total_reads is none %}
                          0
                        {% else %} {{ sample.total_reads }} {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.mapped_rate is none or sample.mapped_rate == 0 %}
                          0.0%
                        {% else %} {{ (sample.mapped_rate*100)|round(2) }}% {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.duplication_rate is none or sample.duplication_rate == -1 %}
                          N/A
                        {% else %}
                          {{ (sample.duplication_rate*100)|round(2) }}%
                        {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.insert_size is none or sample.insert_size == 0%}
                          N/A
                        {% else %} {{ sample.insert_size }} {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.average_coverage is none or sample.average_coverage|round(2) == 0 %}
                          0.0x
                        {% else %} {{ (sample.average_coverage)|round(2) }}x {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.coverage_10x is none or (sample.coverage_10x*100)|round(2) == 0 %}
                          0.0%
                        {% else %} {{ (sample.coverage_10x*100)|round(2) }}% {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.coverage_30x is none or (sample.coverage_30x*100)|round(2) == 0 %}
                          0.0%
                        {% else %} {{ (sample.coverage_30x*100)|round(2) }}% {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.coverage_50x is none or (sample.coverage_50x*100)|round(2) == 0 %}
                          0.0%
                        {% else %} {{ (sample.coverage_50x*100)|round(2) }}% {% endif %}
                      </td>
                      <td class="text-right">
                        {% if sample.coverage_100x is none or (sample.coverage_100x*100)|round(2) == 0 %}
                          0.0%
                        {% else %} {{ (sample.coverage_100x*100)|round(2) }}% {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              </div>
            </div>
          </footer>
        </div>
      </div>
  {% endblock %}
