{% extends 'layout.html' %}

{% block body %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Project: {{samples[0].projects.Customer_ID_project}} <i>({{samples[0].projects.CG_ID_project}})</i></h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="duplicationRate"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="mapped-plot"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="coverage-plot"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="reads-coverage-plot"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <table class="table table-striped table-bordered">
        <tr>
          <td><i>Raw</i></td><td></td><td></td><td></td><td></td>
          <td><i>Trimmed</i></td>
          <td><i>Deduplicated</i></td><td></td><td></td><td></td><td></td><td></td><td></td>
        </tr>
        <thead>
          <tr>
            <th>Sample ID</th>
            <th>CG Sample ID</th>
            <th>Reference Genome</th>
            <th>Organism</th>
            <th>Total Reads</th>
            <th>Median Insert Size</th>
            <th>Duplication Rate</th>
            <th>Mapped rate</th>
            <th>Average coverage</th>
            <th>%BP > 10x Coverage</th>
            <th>%BP > 30x Coverage</th>
            <th>%BP > 50x Coverage</th>
            <th>%BP > 100x Coverage</th>
          </tr>
        </thead>
        
        <tbody>
          {% for sample in samples %}
            <tr>
              <td>{{ sample.Customer_ID_sample }}</td>
              <td>{{ sample.CG_ID_sample }}</td>
              <td>{{ sample.reference_genome }}</td>
              {% if sample.organism is not none %}
                <td>{{sample.organism.replace('_', ' ').capitalize()}}</td>
              {% else %}<td>Undetermined</td>{% endif %}
              <td class="text-right">
                {% if sample.total_reads is not none %}
                  {{ sample.total_reads }}
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.insert_size is not none %}
                  {{ sample.insert_size }}
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.duplication_rate is not none %} 
                  {{ (sample.duplication_rate*100)|round(2) }}% 
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.mapped_rate is not none %}
                  {{ (sample.mapped_rate*100)|round(2)}}%
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.average_coverage is not none %}
                  {{ (sample.average_coverage)|round(2)}}x
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.coverage_10x is not none %}
                  {{ (sample.coverage_10x*100)|round(2)}}%
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.coverage_30x is not none %}
                  {{ (sample.coverage_30x*100)|round(2) }}%
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.coverage_50x is not none %}
                  {{ (sample.coverage_50x*100)|round(2) }}%
                {% else %} Unknown {% endif %}
              </td>
              <td class="text-right">
                {% if sample.coverage_100x is not none %}
                  {{ (sample.coverage_100x*100)|round(2) }}%
                {% else %} Unknown {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <script type="text/javascript" charset="utf-8" async defer>
    $(function() {
        $("#duplicationRate").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Duplicates"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction duplicates"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ dup_tuples|tojson|safe }}
          }]
        })

        $("#mapped-plot").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Mapped reads"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction mapped"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ map_tuples|tojson|safe }}
          }]
        })

        $("#coverage-plot").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Coverage 10X"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction covered"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ cov_tuples|tojson|safe }}
          }]
        })

        $("#reads-coverage-plot").highcharts({
          chart: {
            type: "scatter",
            zoomType: "xy"
          },
          title: {
            text: "Total reads vs. Coverage 10x"
          },
          xAxis: {
            title: {
              text: 'number of reads'
            }
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction covered"
            }
          },
          plotOptions: {
            scatter: {
              marker: {
                radius: 5,
                states: {
                  hover: {
                    enabled: true,
                    lineColor: 'rgb(100,100,100)'
                  }
                }
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.x} reads, {point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ readsVScov_tuples|tojson|safe }}
          }]
        })
    })
  </script>
{% endblock %}
