{% extends "layout.html" %}

{% block content %}
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Project: {{ samples[0].projects.CG_ID_project }}</h1>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="duplicationRate"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="mapped-plot"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="coverage-plot"></div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="reads-coverage-plot"></div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="panel panel-default">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Sample</th>
            <th>External ID</th>
            <th>Reference Genome</th>
            <th>Total Reads</th>
            <th>Median Insert Size</th>
            <th>Duplication Rate</th>
            <th>Mapped rate</th>
            <th>Coverage 10X</th>
            <th>Coverage 30X</th>
            <th>Coverage 50X</th>
            <th>Coverage 100X</th>
          </tr>
        </thead>
        
        <tbody>
          {% for sample in samples %}
            <tr>
              <td>{{ samples[0].projects.Customer_ID_project }}</td>
              <td>{{ sample.CG_ID_sample }}</td>
              <td>{{ sample.reference_genome }}</td>
              <td class="text-right">{{ "{:,}".format(sample.total_reads) }}</td>
              <td class="text-right">{{ sample.insert_size }}</td>
              <td class="text-right {% if sample.duplication_rate > 0.2 %}bg-warning{% endif %}">
                {{ sample.duplication_rate|percent }}%
              </td>
              <td class="text-right {% if sample.mapped_rate < 0.5 %}bg-warning{% endif %}">
                {{ sample.mapped_rate|percent }}%
              </td>
              <td class="text-right {% if sample.coverage_10x < 0.9 %}bg-warning{% endif %}">
                {{ sample.coverage_10x|percent }}%
              </td>
              <td class="text-right {% if (sample.coverage_30x or 0) < 0.9 %}bg-warning{% endif %}">
                {{ (sample.coverage_30x or 0)|percent }}%
              </td>
              <td class="text-right {% if (sample.coverage_50x or 0) < 0.9 %}bg-warning{% endif %}">
                {{ (sample.coverage_50x or 0)|percent }}%
              </td>
              <td class="text-right {% if (sample.coverage_100x or 0) < 0.9 %}bg-warning{% endif %}">
                {{ (sample.coverage_100x or 0)|percent }}%
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  {{ super() }}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>

  <script type="text/javascript" charset="utf-8" async defer>
    $(function() {
        $("#duplicationRate").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Duplicates"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction duplicates"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ duplications|tojson|safe }}
          }]
        })

        $("#mapped-plot").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Mapped reads"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction mapped"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ mapped|tojson|safe }}
          }]
        })

        $("#coverage-plot").highcharts({
          chart: {
            type: "spline",
            zoomType: "y"
          },
          title: {
            text: "Coverage 10X"
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction covered"
            }
          },
          plotOptions: {
            spline: {
              marker: {
                enabled: true
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ coverage|tojson|safe }}
          }]
        })

        $("#reads-coverage-plot").highcharts({
          chart: {
            type: "scatter",
            zoomType: "xy"
          },
          title: {
            text: "Total reads vs. Coverage 10x"
          },
          xAxis: {
            title: {
              text: 'number of reads'
            }
          },
          yAxis: {
            min: 0,
            max: 1,
            title: {
              text: "fraction covered"
            }
          },
          plotOptions: {
            scatter: {
              marker: {
                radius: 5,
                states: {
                  hover: {
                    enabled: true,
                    lineColor: 'rgb(100,100,100)'
                  }
                }
              },
              tooltip: {
                headerFormat: '<b>{point.key}</b><br>',
                pointFormat: '{point.x} reads, {point.y}'
              }
            }
          },
          series: [{
            color: 'rgba(223, 83, 83, .5)',
            data: {{ reads_coverage|tojson|safe }}
          }]
        })
    })
  </script>
{% endblock %}
