{% extends 'layout.html' %}
  {% block body %}
    {% set thres = dict() %}
      <div class="container-fluid">
        <div class="col-lg-16">
          <!-- Summary pages  -->
          <footer>
            <div class="panel"><div class="panel-body">
              <h2 class="page-header"><strong>microSALT Results</strong><br>
                <small>Clinical Microbiology</small>
              <small><p align="right">{{date}}</p></small></h2>

              <h3><strong>Project Summary</strong><br></h3>
              <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <td><b>Project ID <i>(CG Project ID)</i></b>
                    <td>{{samples[0].projects.Customer_ID_project}} <i>({{samples[0].projects.CG_ID_project}})</i></td>
                  </tr>
                  <tr>
                    <td><b>Analysis date</b></td>
                    <td>{{samples[0].date_analysis.date()}}</td>
                  </tr>
                </table>
              </div>

              <h3><strong>Sample Summary</strong><br></h3>
              <div class="table-responsive">
                <table  class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <th>Sample ID</th>
                    <th>CG Sample ID</th>
                    <th>Organism</th>
                    <th>Sequence Type</th>
                    <th>Thresholds</th>
                  </tr>
                  {% for sample in samples %}
                    <tr>
                      <td>{{sample.Customer_ID_sample}}</td>
                      <td>{{sample.CG_ID_sample}}</td>
                      {% if sample.organism is not none %}
                        <td><i>{{sample.organism.replace('_', ' ').capitalize()}}</i></td>
                      {% else %}
                        <td><i>Control</i></td>
                      {% endif %}
                      {% if sample.ST_status == 'None' %}
                        <td><font color="red">{{sample.ST_status }}</font></td>
                      {% else %}
                        <td>{{sample.ST_status }}</td>
                      {% endif %}
                      {% if sample.threshold == 'Failed' %}
                        <td><font color="red">{{sample.threshold }}</font></td>
                      {% else %}
                        <td>{{sample.threshold }}</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
              </div>
              </div>
            </div>
          </footer>
          <!-- Sample pages -->
          {% for sample in samples %}
            <footer>
              <div class="panel">
                <div class="panel-body">
                  <h2 class="page-header"><div class="row"></div><strong>microSALT Results</strong><br>
                    <small>Clinical Microbiology</small>
                    <small><p align="right">{{date}}</p></small></h2>

                   <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
                    <h4>Overview</h4>
                    <tr>
                      <td><b>Project ID <i>(CG Project ID)</i></b></td>
                      <td>{{sample.projects.Customer_ID_project}} <i>({{sample.projects.CG_ID_project}})</i></td>
                    </tr>
                    <tr>
                      <td><b>Sample ID <i>(CG Sample ID)</i></b></td>
                      <td>{{sample.Customer_ID_sample}}  <i>({{sample.CG_ID_sample}})</i></td>
                    </tr>
                    <tr>
                      <th scope="row" >Analysis date</th>
                      <td>{{sample.date_analysis.date()}}</td>
                    </tr>
                    <tr>
                      <th scope="row" >Organism</th>
                      {% if sample.organism is not none %}
                        <td><i>{{sample.organism.replace('_', ' ').capitalize()}}</i></td>
                      {% else %}
                        <td><i>Control</i></td>
                      {% endif %}
                    </tr>
                    <tr><th scope="row" >Sequence Type</th>
                      {% if sample.ST_status == 'None' %}
                        <td><font color="red">{{sample.ST_status }}</font></td>
                      {% else %}
                        <td>{{sample.ST_status }}</td>
                      {% endif %}
                    </tr>
                    {% if sample.aux_alleles > 0 %}
                      <tr>
                        <th scope="row" >Additional non-determining alleles</th>
                        <td>{{sample.aux_alleles}}</td>
                      </tr>
                    {% endif %}
                    <tr><th scope="row" >Thresholds</th>
                      {% if sample.threshold=='Failed' %}
                        <td><font color="red">{{sample.threshold }}</font></td>
                      {% else %}
                        <td>{{sample.threshold }}</td>
                      {% endif %}
                    </tr>
                    {% if sample.organism in version %}
                      <tr>
                        <th scope="row">Reference version</th>
                        <td>{{version[sample.organism]}}</td>
                      </tr>
                    {% endif %}
                  </table></div>

                <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
                  <h4>Assembly</h4>
                  {% if sample.genome_length > -1 %}
                    <tr><th scope="row" >Estimated genome length</th><td>{{'{0:,}'.format(sample.genome_length)|replace(","," ")}}</td></tr>
                    <tr><th scope="row" >GC content</th><td>{{sample.gc_percentage| round(2)}}%</td></tr>
                    <tr><th scope="row" >N50 (min. contig length for 50% of genome)</th><td>{{'{0:,}'.format(sample.n50)|replace(","," ")}}</td></tr>
                    <tr><th scope="row" >Necessary contigs</th><td>{{sample.contigs}}</td></tr>
                  {% else %}
                    <tr><th scope="row" >Estimated genome length</th><td>Insufficient data for QUAST</td></tr>
                    <tr><th scope="row" >GC content</th><td>Insufficient data for QUAST</td></tr>
                    <tr><th scope="row" >N50 (min. contig length for 50% of genome)</th><td>Insufficient data for QUAST</td></tr>
                    <tr><th scope="row" >Necessary contigs</th><td>Insufficient data for QUAST</td></tr>
                  {% endif %}
                </table></div>

                </div>
              </div>
            </footer>
          {% if sample.genome_length > -1 %}
            <footer>
              <div class="panel">
              <div class="panel-body"> 

                <div class="table-responsive">
                  {% if not sample.seq_types|length == 0 %}
                    <table  class="table table-bordered" style='table-layout:fixed;'>
                      <h4>MLST</h4>
                      <thead>
                        <tr>
                          <th width="4%">#</th>
                          <th width="30%">Loci</th>
                          <th width="20%">Allele</th>
                          <th width="20%">Contig Coverage</th>
                          <th>Identity</th>
                          <th>Span</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for seq_type in sample.seq_types if seq_type.st_predictor%}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{seq_type.loci}}</td>
                              <td> {{ seq_type.allele}}</td>
                              <td>{{ seq_type.contig_coverage|round(2)  }}</td>
                              <td>{{ seq_type.identity|round(2) }}</td>
                              <td>{{ seq_type.span|round(2) }}</td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endif %}
                </div>

                <div class="table-responsive">
                  {% if not sample.resistances|length == 0 %}
                    <table  class="table table-bordered" style='table-layout:fixed;'>
                    <h4>Resistance</h4>
                      <thead>
                        <tr>
                          <th width="4%">#</th>
                          <th width="30%">Gene</th>
                          <th width="20%">Type</th>
                          <th width="20%">Contig Coverage</th>
                          <th>Identity</th>
                          <th>Span</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for seq_type in sample.resistances if seq_type.identity >= 97.00 and seq_type.span >= 0.9 %}
                            <tr>
                              <td>{{loop.index}}</td>
                              <td>{{seq_type.gene}}</td>
                              <td>{{seq_type.instance|title}}</td>
                              <td>{{ seq_type.contig_coverage|round(2)  }}</td>
                              <td>{{ seq_type.identity|round(2) }}</td>
                              {% if seq_type.span == 999.0 %}
                                <td>Undef.</td>
                              {% else %}
                                <td>{{ seq_type.span|round(2) }}</td>
                              {% endif %}
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  {% endif %}
                </div>

              </div>
              </div>
            </footer>
          {% endif %}
          {% endfor %}
        </div>
      </div>
  {% endblock %}
