{% extends 'layout.html' %}
  {% block body %}
    {% set thres = dict() %}
      <div class="container-fluid">
        <div class="col-lg-16">
          <!-- Summary pages  -->
          <footer>
            <div class="panel"><div class="panel-body">
              <a href="https://github.com/Clinical-Genomics/microSALT"><img src="https://github.com/Clinical-Genomics/microSALT/blob/master/artwork/microsalt.jpg?raw=true" alt="MicroSALT Logo" align="left" style="position:absolute;left:15px;width:400px;height:100px;display:flex;"></a>
              <!--<img src="swedac.jpg" alt="Swedac Logo" align="right" style="display:flex;">-->
              <h2 class="page-header">
                <small><br><br><br>Sekvenstypsuppdateringar</small>
              <small><p align="center">Rapport genererad: {{date}}</p></small></h2>
              <div class="row">
                <div class="col">
                 <h3>Kontakt Clinical Genomics</h3>
                 <address>
                   <strong>Clinical Genomics</strong><br>
                   Science for Life Laboratory<br>
                   Tomtebodavägen 23<br>
                   171 65 Solna<br>
                  <abbr title="Telefonnummer">T:</abbr> (08) 524 81 500
                 </address>
              </div>

              <div class="table-responsive">
                <table  class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <th>Kund</th>
                    <th>Prov ID</th>
                    <th>CG Prov ID</th>
                    <th>Organism</th>
                    <th>Gammal (Intern) ST</th>
                    <th>Ny (pubMLST) ST</th>
                  </tr>
                  {% for entry in internal %}
                    <tr>
                      {% if entry.projects.Customer_ID is not none %}
                        <td>{{entry.projects.Customer_ID}}</td>
                      {% else %}
                        <td>Unknown</td>
                      {% endif %}
                      <td>{{entry.Customer_ID_sample}}</td>
                      <td>{{entry.CG_ID_sample}}</td>
                      {% if entry.organism is not none %}
                        <td><i>{{entry.organism.replace('_', ' ').capitalize()}}</i></td>
                      {% else %}
                        <td><i>Control</i></td>
                      {% endif %}
                      <td>I{{entry.ST|int|abs}}</td> 
                      <td>{{entry.pubmlst_ST }}</td>
                    </tr>
                  {% endfor %}
                </table>
              </div>
              </div>
            </div>
          </footer>
        </div>
        <div class="text-muted text-center">Slut på rapport</div>
      </div>
  {% endblock %}
