{% extends 'layout.html' %}
  {% block body %}
    {% set thres = dict() %}
      <div class="container-fluid">
        <div class="col-lg-16">
          <!-- Summary pages  -->
          <footer>
            <div class="panel"><div class="panel-body">
              <a href="https://github.com/Clinical-Genomics/microSALT">
              <img src="https://github.com/Clinical-Genomics/microSALT/blob/master/artwork/microsalt.jpg?raw=true" \
              alt="MicroSALT Logo" align="left" \
              style="position:absolute;left:15px;width:400px;height:100px;display:flex;"></a>
              {% if 'MW' in topsample.application_tag %}
                <img src="https://github.com/Clinical-Genomics/microSALT/blob/master/artwork/swedac.jpg?raw=true" alt="Swedac Logo" align="right" style="display:flex;">
              {% endif %}
              <h2 class="page-header">
                <small><br><br><br>Typningsrapport</small>
              <small><p align="center">Rapport genererad: {{date}}</p></small></h2>
              <div class="row">
                <div class="col">
                  <h3>Kontakt Clinical Genomics</h3>
                  <address>
                    <strong>Clinical Genomics</strong><br>
                    Science for Life Laboratory<br>
                    Tomtebodavägen 23<br>
                    171 65 Solna<br>
                   <abbr title="Telefonnummer">T:</abbr> (08) 524 81 500
                  </address>
                  <address>
                    <strong>microSALT-teamet</strong><br>
                    <abbr title="Förslagslåda">E:</abbr><a href="mailto:microsalt-suggestions@scilifelab.se?subject=Förbättringsförslag">
                    microsalt-suggestions@scilifelab.se
                    </a>
                  </address>
                </div>
                <div class="col">
                  <h3>Kund</h3>
                  <address>
                  <h4>{{topsample.projects.Customer_ID}}</h4><br>
                  </address>
                </div>
              <br />
              <br />

              <div class="panel"><div class="panel-body">
                <h3>Projektsammanställning<br></h3>
                    <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
                      <tr>
                      <td><b>Ticket ID <i>(CG Projekt ID)</i></b>
                        <td>{{topsample.projects.Customer_ID_project}} <i>({{topsample.projects.CG_ID_project}})</i></td>
                      </tr>
                      <tr>
                      <td><b>Kund ID (*)</b>
                        <td>{{topsample.projects.Customer_ID}}<i></i></td>
                      </tr>
                      <tr>
                        <td><b>Rapport version</b></td>
                        {% if reports|length > 1 %}
                          <td>Version {{reports[0].version}}, {{reports[0].date.date()}} (Ersätter version {{reports[1].version}}, {{reports[1].date.date()}})</td>
                        {% else %}
                          <td>Version {{reports[0].version}}, {{reports[0].date.date()}}</td>
                        {% endif %}
                      </tr>
                      <tr>
                        <td><b>Ansvarig bioinformatiker</b></td>
                        <td>{{user}}</td>
                      </tr>
                      <tr>
                        <td><b>microSALT version</b></td>
                        <td>{{build}}</td>
                      </tr>
                    </table></div>
              </div></div>

            <div class="panel"><div class="panel-body">
              <h3>Resultatsammanställning<br></h3>
              <p>
              </p>
              <div class="table-responsive">
                <table  class="table table-bordered" style='table-layout:fixed;'>
                  <tr>
                    <th>Prov ID(*)</th>
                    <th>CG Prov ID</th>
                    <th>Organism (*)</th>
                    <th>Sekvenstyp (**)</th>
                    <th>Tröskelvärden</th>
                  </tr>
                  {% for sample in samples %}
                    <tr>
                      <td>{{sample.Customer_ID_sample}}</td>
                      <td>{{sample.CG_ID_sample}}</td>
                      {% if sample.organism is not none %}
                        <td><i>{{sample.organism.replace('_', ' ').capitalize()}}</i></td>
                        {% else %}
                        <td><i>Kontroll</i></td>
                      {% endif %}
                      {% if sample.ST_status == 'None' or sample.ST == -1 %}
                        <td><font color="red">{{ sample.ST_status }}</font></td>
                      {% elif sample.ST <= -4 %}
                        <td>I{{sample.ST|int|abs}} (Novel)</td>
                      {% else %}
                        <td>{{sample.ST_status }}</td>
                      {% endif %}
                      {% if sample.threshold == 'Failed' %}
                        <td><font color="red">Underkända</font></td>
                      {% elif sample.threshold == '-' %}
                        <td><font color="red">-</font></td>
                      {% else %}
                        <td>Godkända</td>
                      {% endif %}
                    </tr>
                  {% endfor %}
                </table>
              </div>
                (*) Information om prover som kommer från kund <br/>
                (**) För förbättrad översikt rapporteras resultaten för kontrollprover enbart i detaljrapporten <br/>
            </div></div>

              <div class="panel"><div class="panel-body">
                <h3>Provsammanställning<br></h3>
                  <div class="table-responsive">
                    <table  class="table table-bordered" style='table-layout:fixed;'>
                      <tr>
                        <th>Prov ID (*)</th>
                        <th>Applikationstag (*)</th>
                        <th>Organism (*)</th>
                        <th>Ankomstdatum</th>
                        <th>Datum prep</th>
                        <th>Metod prep</th>
                        <th>Datum sekvensering</th>
                        <th>Metod sekvensering</th>
                        <th>Prioritet (*)</th>
                        <th>Verifierad (**)</th>
                      </tr>
                      {% for sample in samples %}
                        <tr>
                          <td>{{sample.Customer_ID_sample}}</td>
                          <td>{{sample.application_tag}}</td>
                          {% if sample.organism is not none %}
                            <td><i>{{sample.organism.replace('_', ' ').capitalize()}}</i></td>
                          {% else %}
                            <td><i>N/A</i></td>
                          {% endif %}
                          {% if sample.date_arrival is not none and sample.date_arrival.date().strftime('%Y-%m-%d') != '1-01-01' %}
                            <td>{{sample.date_arrival.date()}}</td>
                          {% else %}<td><i>Okänt</i></td>{% endif %}
                          {% if sample.date_libprep is not none and sample.date_libprep.date().strftime('%Y-%m-%d') != '1-01-01' %}
                            <td>{{sample.date_libprep.date()}}</td>
                          {% else %}<td><i>Okänt</i></td>{% endif %}
                          {% if sample.method_libprep is not none and 'Not in LIMS' not in sample.method_libprep %}
                            <td>{{sample.method_libprep}}</td>
                          {% else %}
                            <td><i>Okänt</i></td>
                          {% endif %}
                          {% if sample.date_sequencing is not none and sample.date_sequencing.date().strftime('%Y-%m-%d') != '1-01-01' %}
                            <td>{{sample.date_sequencing.date()}}</td>
                          {% else %}<td><i>Okänt</i></td>{% endif %}
                          {% if sample.method_sequencing is not none and 'Not in LIMS' not in sample.method_sequencing %}
                            <td>{{sample.method_sequencing}}</td>
                          {% else %}
                            <td><i>Okänt</i></td>
                          {% endif %}
                          {% if sample.priority is not none %}
                            <td>{{sample.priority.capitalize()}}</td>
                          {% else %}
                            <td>-</td>
                          {% endif %}
                          {% if sample.organism is not none %}
                            {% if sample.priority == 'standard' and sample.organism.replace('_', ' ').capitalize() in verified_organisms %}
                              <td><i>✔︎</i></td>
                            {% else %}
                              <td><i>-</i></td>
                            {% endif %}
                          {% else %}
                            <td><i>-</i></td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                    </table>
                  </div>
                (*) Information om prover som kommer från kund <br/>
                (**) Provet har processerats enligt standardförfarande, och består av en väl studerad organism<br/>
                </div>
            </div>

            <div class="panel"><div class="panel-body">
              {% if topsample.application_tag == "MWRNXTR003" %}
              <h3>Teknisk beskrivning av analysen: {{topsample.application_tag}}<br></h3>
              <p>
              {% if topsample.application_tag == "MWRNXTR003" %}
              Mikrobiell helgenomssekvensering av rutinprov, med krav på minst 3 miljoner läspar.
              Nextera library preparation.
              {% elif topsample.application_tag in ["MWGNXTR003", "MWMNXTR003", "MWLNXTR003"] %}
              Mikrobiell helgenomssekvensering, med krav på minst 3 miljoner läspar.
              Nextera library preparation.
              {% elif topsample.application_tag == "MWXNXTR003" %}
              Storskalig mikrobiell helgenomssekvensering av minst 176 prover, med krav på minst 3 miljoner läspar.
              Nextera library preparation.
              {% elif topsample.application_tag in ["VWGNXTR001", "VWLNXTR001"] %}
              Virologisk helgenomssekvensering, med krav på minst 1 miljon läspar.
              Nextera library preparation.
              {% endif %}
              <br></p>

              <h3>Analysbegränsningar för: {{topsample.application_tag}}<br></h3>
              <p>
              Analysen kan enbart beställas av gruppen Klinisk Mikrobiologi.
              Laboratoriet har inte haft ansvar för provtagningsstadiet och extraktion, resultaten gäller för provet såsom det har mottagits.
              Typningen begränsas av den information som vid analys återfinns i de publikt tillgängliga databaserna pubMLST och resFinder.
              Tillförlitligheten hos resultaten förutsätter dels att informationen som bifogats från kund är korrekt. Dels att proverna uppnår de fördefinierade tröskelvärdena; och dels att de organismerna som analyseras har tidigare manuellt verifierats tidigare av personal på Clinical Genomics.
              </p>

              <h3>Avvikelser från metoden<br></h3>
              <p>
              All kommunikation gällande order såsom tillägg, avvikelser eller
              ev undantag i metoden från Clinical Genomics finns tillgängligt i
              SupportSystem för dess ticket id. En stängd ticket kan närsomhelst
              öppnas upp igen för frågor.
              </p>
              
              <h3>Förbättringsförslag<br></h3>
              <p>
              Alla typer av förbättringsförslag mailas med fördel till microsalt-suggestions@scilifelab.se<br>
              Din återkopplling uppskattas!
              </p>

              <h3>Signatur för godkännande av rapport<br></h3>
              <p>
                Valtteri Wirta<br>
                Head of unit, Clinical Genomics
              </p>
              {% endif %}

            </div>
            </div>
          </footer>


          <!-- Sample pages -->
          {% for sample in samples %}
            <footer>
              <div class="panel">
        	<div class="panel-body">
        	  <h2 class="page-header"><div class="row"></div>Detaljresultat
                  {% if sample.organism is not none %}
                    {% if sample.priority == 'standard' and sample.organism.replace('_', ' ').capitalize() in verified_organisms %}
                      <img src="https://github.com/Clinical-Genomics/microSALT/blob/master/artwork/swedac.jpg?raw=true" alt="Swedac Logo" \
                      align="right" style="width:40px;height:60px;display:flex;">
                    {% endif %}
                  {% endif %}
                  <br>
                  <small>Klinisk Mikrobiologi</small>
                  <small><p align="center">Rapport genererad: {{date}}</p></small></h2>
        	  <div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
        	    <h4>Översikt</h4>
        	    <tr>
        	      <td><b>Ticket ID <i>(CG Projekt ID)</i></b></td>
        	      <td>{{sample.projects.Customer_ID_project}} <i>({{sample.projects.CG_ID_project}})</i></td>
        	    </tr>
        	    <tr>
        	      <td><b>Prov ID <i>(CG Prov ID)</i></b></td>
        	      <td>{{sample.Customer_ID_sample}}  <i>({{sample.CG_ID_sample}})</i></td>
        	    </tr>
        	    <tr>
        	      <th scope="row" >Analys datum</th>
        	      <td>{{sample.date_analysis.date()}}</td>
        	    </tr>
        	    <tr>
        	      <th scope="row" >Organism</th>
        	      {% if sample.organism is not none %}
        		<td><i>{{sample.organism.replace('_', ' ').capitalize()}}</i></td>
        	      {% else %}
        		<td><i>Okänd</i></td>
        	      {% endif %}
        	    </tr>
        	    <tr><th scope="row" >Sekvenstyp</th>
        	      {% if sample.ST_status == 'None' %}
        		<td><font color="red">{{sample.ST_status }}</font></td>
        	      {% elif sample.ST <= -4 %}
        		<td>I{{sample.ST|int|abs}} (Novel)</td>
        	      {% else %}
        		<td>{{sample.ST_status }}</td>
        	      {% endif %}
        	    </tr>
        	    <tr><th scope="row" >Tröskelvärden</th>
        	      {% if sample.threshold=='Failed' %}
        		<td><font color="red">Underkända</font></td>
                      {% elif sample.threshold == '-' %}
                        <td><font color="red">-</font></td>
        	      {% else %}
        		<td>Godkända</td>
        	      {% endif %}
        	    </tr>
        	    {% if sample.organism in version and sample.organism is not none %}
        	      <tr>
        		<th scope="row">Referensversion</th>
        		<td>{{version[sample.organism]}}</td>
        	      </tr>
        	    {% endif %}
        	    {% if sample.priority is not none %}
        	      <tr>
        		<th scope="row">Prioritet</th>
        		<td>{{sample.priority.capitalize()}}</td>
        	      </tr>
        	    {% endif %}
        	  </table></div>
        	<div class="table-responsive"><table class="table table-bordered" style='table-layout:fixed;'>
        	<h4>Assembly</h4>
        	{% if sample.genome_length > -1 %}
        	      <tr><th scope="row" >Genomstorlek enligt assembly</th><td>{{'{0:,}'.format(sample.genome_length)|replace(","," ")}}</td></tr>
                  <tr><th scope="row" >Referensens genomstorlek</th><td>{{'{0:,}'.format(sample.reference_length)|replace(","," ")}}</td></tr>
        	      <tr><th scope="row" >GC halt</th><td>{{sample.gc_percentage| round(2)}}%</td></tr>
        	      <tr><th scope="row" >N50 (minsta contiglängd för 50% av genomet)</th><td>{{'{0:,}'.format(sample.n50)|replace(","," ")}}</td></tr>
        	      <tr><th scope="row" >Nödvändiga contigs</th><td>{{sample.contigs}}</td></tr>
        	{% else %}
                  <i>Assemblydata saknas</i>
        	{% endif %}
                </table></div>
        	</div>

                {% if sample.genome_length > -1 %}
                  <div class="panel"><div class="panel-body">
                  <h4>MLST</h4>
                  <h6>Identitetströskel: {{threshold.mlst_id}}%, Längdtröskel: 100%, Novel misstankströskel (längd): {{threshold.mlst_span}}%, Novel misstankströskel: {{threshold.mlst_novel_id}}%</h6>
                  {% if not sample.seq_types|length == 0 and 'saknas' not in sample.ST_status%}
                    <div class="table-responsive"><table  class="table table-bordered" style='table-layout:fixed;'>
                    <tr>
                      <th width="4%">#</th>
                      <th width="30%">Loci</th>
                      <th width="20%">Allel</th>
                      <th width="20%">Kmer Täckning</th>
                      <th>Identitet %</th>
                      <th>Längd (HSP) %</th>
                    </tr>
                    {% for seq_type in sample.seq_types if seq_type.st_predictor%}
                      <tr>
                        <td>{{loop.index}}</td>
                        <td>{{seq_type.loci}}</td>
                        <td>{{seq_type.allele}}</td>
                        <td>{{seq_type.contig_coverage|round(2)}}x</td>
                        <td>{{seq_type.identity|round(2)}}%</td>
                        <td>{{(seq_type.span*100)|round(2)}}%</td>
                      </tr>
                    {% endfor %}
                    </table>
                  {% else %}
                    <i>MLST data saknas</i>
                  {% endif %}

                  <br><br>
                  <div class="table-responsive">
                    <h4>Resistenser</h4>
                    <h6>Identitetströskel: {{threshold.motif_id}}%, Längdtröskel: {{threshold.motif_span}}%</h6>
                    {% if not sample.resistances|selectattr('threshold', 'equalto', 'Passed')|list|length == 0 %}
                      <table  class="table table-bordered" style='table-layout:fixed;'>                      
                      <tr>
                        <th width="4%">#</th>
                        <th width="15%">Gen</th>
                        <th width="20%">Grupp</th>
                        <th width="15%">Referens</th>
                        <th width="20%">Kmer Täckning</th>
                        <th>Identitet %</th>
                        <th>Längd (HSP) %</th>
                      </tr>
                      {% for seq_type in sample.resistances if seq_type.threshold == 'Passed' %}
                        <tr>
                         <td>{{loop.index}}</td>
                         <td>{{seq_type.gene}}</td>
                         {% if seq_type.resistance is not none %}
                           {% if seq_type.resistance == "Beta-lactam" %}
                             <td>Beta-lactamase</td>
                           {% else %}
                             <td>{{seq_type.resistance}}</td>
                           {% endif %}
                         {% else %}
                           {% if seq_type.instance == "beta-lactam" %}
                             <td>Beta-lactamase</td>
                           {% else %}
                             <td>{{seq_type.instance|title}}</td>
                           {% endif %}
                         {% endif %}
                         {% if seq_type.reference is not none %}
                           <td>{{seq_type.reference}}</td>
                         {% else %}
                           <td>Okänd</td>
                         {% endif %}
                         <td>{{seq_type.contig_coverage|round(2) }}x</td>
                         <td>{{seq_type.identity|round(2) }}%</td>
                         {% if seq_type.span == 999.0 %}
                           <td>Odefinierad</td>
                         {% else %}
                           <td>{{(seq_type.span*100)|round(2) }}%</td>
                         {% endif %}
                         </tr>
                       {% endfor %}
                     </table>
                     {% else %}
                       <i>Resistensdata saknas</i>
                     {% endif %}
                   </div>
                 {% endif %}
                 </div>
                 </div>
                 </div>
               </footer>
           {% endfor %}
           <div class="text-muted text-center">Slut på rapport</div>
         </div>
       </div>
   {% endblock %}
